# Katu OS — GRUB EFI/UEFI configuration

set default=0
set timeout=15
set timeout_style=menu

# Módulos necessários
insmod all_video
insmod gfxterm
insmod iso9660

# Fonte para menu gráfico
if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=1280x800,auto
    terminal_output gfxterm
fi

# Tema Katu
if [ -f /boot/grub/themes/katu/theme.txt ]; then
    set theme=/boot/grub/themes/katu/theme.txt
    export theme
fi

# Parâmetros Debian Live; drivers gráficos são detectados pelo kernel.
# live-media=removable: diz ao live-boot para buscar na mídia removável (CD/USB)
set KATU_BASE="boot=live components live-media=removable locale=pt_BR keyboard-layouts=br"

menuentry "Experimentar Katu OS" --class katu --class gnu-linux --class os {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux  /live/vmlinuz ${KATU_BASE} quiet noeject
    initrd /live/initrd.img
}

menuentry "Instalar Katu OS" --class katu --class installer {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux  /live/vmlinuz ${KATU_BASE} quiet noeject
    initrd /live/initrd.img
}

submenu "Opções avançadas" --class submenu {

    menuentry "Katu OS — Modo de compatibilidade" {
        search --no-floppy --set=root --file /live/filesystem.squashfs
        linux  /live/vmlinuz ${KATU_BASE} nomodeset noeject
        initrd /live/initrd.img
    }

    menuentry "Katu OS (verbose — diagnóstico)" {
        search --no-floppy --set=root --file /live/filesystem.squashfs
        linux  /live/vmlinuz boot=live components live-media=removable locale=pt_BR keyboard-layouts=br noeject
        initrd /live/initrd.img
    }

    menuentry "Katu OS (modo RAM)" {
        search --no-floppy --set=root --file /live/filesystem.squashfs
        linux  /live/vmlinuz ${KATU_BASE} quiet toram
        initrd /live/initrd.img
    }

}
