# Katu OS — loopback.cfg para Ventoy e UEFI ISO loopback

set KATU_BASE="boot=live components live-media=removable locale=pt_BR keyboard-layouts=br"

menuentry "Experimentar Katu OS" --class katu --class gnu-linux --class os {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux  /live/vmlinuz ${KATU_BASE} quiet noeject modprobe.blacklist=vmwgfx
    initrd /live/initrd.img
}

menuentry "Instalar Katu OS" --class katu --class installer {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux  /live/vmlinuz ${KATU_BASE} quiet noeject modprobe.blacklist=vmwgfx
    initrd /live/initrd.img
}
