[Desktop Entry]
Version=1.0
Type=Application
Name=Instalar Katu OS
Name[pt_BR]=Instalar Katu OS
Comment=Assistente de instalação do Katu OS
Comment[pt_BR]=Simples e rápido — como instalar o Windows
Exec=katu-installer
Icon=katu-logo
Terminal=false
Categories=System;
StartupNotify=true
X-Desktop-File-Install-Version=0.26
