[Desktop Entry]
Version=1.0
Type=Application
Name=Instalar Katu OS
Name[pt_BR]=Instalar Katu OS
Comment=Instalar o Katu OS no seu computador
Comment[pt_BR]=Instalar o Katu OS no seu computador
Exec=pkexec calamares
Icon=katu-logo
Terminal=false
Categories=System;
X-Desktop-File-Install-Version=0.26
