[SddmGreeterTheme]
Name=Katu OS
Description=Tema oficial do Katu OS para SDDM
Author=Katu OS Team
Email=katuos@gmail.com
License=MIT
Type=sddm-theme
Version=1.0
Website=https://katuos.com.br
Screenshot=preview.png
