[Desktop Entry]
Type=Application
Name=Boas-vindas ao Katu OS
Name[pt_BR]=Boas-vindas ao Katu OS
Comment=Apresenta as opções de experimentar ou instalar o sistema
Comment[pt_BR]=Apresenta as opções de experimentar ou instalar o sistema
Exec=/usr/bin/katu-live-start
Icon=katu-logo
Terminal=false
Categories=System;
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-condition=katu-live-mode
